## Loading the data

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
import zipfile

In [3]:
zipfile.ZipFile('names.zip').extractall()

In [4]:
df=pd.read_csv('names/yob2018.txt',names=['name','sex','number'])

In [5]:
df

            name sex  number
0           Emma   F   18688
1         Olivia   F   17921
2            Ava   F   14924
3       Isabella   F   14464
4         Sophia   F   13928
5      Charlotte   F   12940
6            Mia   F   12642
7         Amelia   F   12301
8         Harper   F   10582
9         Evelyn   F   10376
10       Abigail   F    9796
11         Emily   F    8656
12     Elizabeth   F    8513
13          Mila   F    8126
14          Ella   F    8055
15         Avery   F    8053
16         Sofia   F    7621
17        Camila   F    7473
18          Aria   F    7394
19      Scarlett   F    7182
20      Victoria   F    7089
21       Madison   F    7036
22          Luna   F    6897
23         Grace   F    6724
24         Chloe   F    6626
25      Penelope   F    6474
26         Layla   F    6468
27         Riley   F    5976
28          Zoey   F    5899
29          Nora   F    5799
...          ...  ..     ...
32003    Zerrick   M       5
32004     Zeshan   M       5
32005      Zevan   M       5
32006    Zhander   M       5
32007       Zhen   M       5
32008      Zheng   M       5
32009    Zhiheng   M       5
32010      Ziaan   M       5
32011     Zichen   M       5
32012      Zidon   M       5
32013       Zien   M       5
32014       Zier   M       5
32015     Zierre   M       5
32016      Zihir   M       5
32017        Zim   M       5
32018        Zin   M       5
32019      Zishe   M       5
32020      Zmari   M       5
32021       Zoel   M       5
32022       Zola   M       5
32023      Zuber   M       5
32024     Zubeyr   M       5
32025      Zyell   M       5
32026     Zyheem   M       5
32027     Zykeem   M       5
32028      Zylas   M       5
32029      Zyran   M       5
32030      Zyrie   M       5
32031      Zyron   M       5
32032      Zzyzx   M       5

[32033 rows x 3 columns]

In [6]:
df['year']=2018

In [7]:
df

            name sex  number  year
0           Emma   F   18688  2018
1         Olivia   F   17921  2018
2            Ava   F   14924  2018
3       Isabella   F   14464  2018
4         Sophia   F   13928  2018
5      Charlotte   F   12940  2018
6            Mia   F   12642  2018
7         Amelia   F   12301  2018
8         Harper   F   10582  2018
9         Evelyn   F   10376  2018
10       Abigail   F    9796  2018
11         Emily   F    8656  2018
12     Elizabeth   F    8513  2018
13          Mila   F    8126  2018
14          Ella   F    8055  2018
15         Avery   F    8053  2018
16         Sofia   F    7621  2018
17        Camila   F    7473  2018
18          Aria   F    7394  2018
19      Scarlett   F    7182  2018
20      Victoria   F    7089  2018
21       Madison   F    7036  2018
22          Luna   F    6897  2018
23         Grace   F    6724  2018
24         Chloe   F    6626  2018
25      Penelope   F    6474  2018
26         Layla   F    6468  2018
27         Riley   F    5976  2018
28          Zoey   F    5899  2018
29          Nora   F    5799  2018
...          ...  ..     ...   ...
32003    Zerrick   M       5  2018
32004     Zeshan   M       5  2018
32005      Zevan   M       5  2018
32006    Zhander   M       5  2018
32007       Zhen   M       5  2018
32008      Zheng   M       5  2018
32009    Zhiheng   M       5  2018
32010      Ziaan   M       5  2018
32011     Zichen   M       5  2018
32012      Zidon   M       5  2018
32013       Zien   M       5  2018
32014       Zier   M       5  2018
32015     Zierre   M       5  2018
32016      Zihir   M       5  2018
32017        Zim   M       5  2018
32018        Zin   M       5  2018
32019      Zishe   M       5  2018
32020      Zmari   M       5  2018
32021       Zoel   M       5  2018
32022       Zola   M       5  2018
32023      Zuber   M       5  2018
32024     Zubeyr   M       5  2018
32025      Zyell   M       5  2018
32026     Zyheem   M       5  2018
32027     Zykeem   M       5  2018
32028      Zylas   M       5  2018
32029      Zyran   M       5  2018
32030      Zyrie   M       5  2018
32031      Zyron   M       5  2018
32032      Zzyzx   M       5  2018

[32033 rows x 4 columns]

In [8]:
allyears=pd.concat(pd.read_csv(f'names/yob{year}.txt', names=['name','sex','number']).assign(year=year) for year in range(1880,2019))

In [9]:
allyears

            name sex  number  year
0           Mary   F    7065  1880
1           Anna   F    2604  1880
2           Emma   F    2003  1880
3      Elizabeth   F    1939  1880
4         Minnie   F    1746  1880
5       Margaret   F    1578  1880
6            Ida   F    1472  1880
7          Alice   F    1414  1880
8         Bertha   F    1320  1880
9          Sarah   F    1288  1880
10         Annie   F    1258  1880
11         Clara   F    1226  1880
12          Ella   F    1156  1880
13      Florence   F    1063  1880
14          Cora   F    1045  1880
15        Martha   F    1040  1880
16         Laura   F    1012  1880
17        Nellie   F     995  1880
18         Grace   F     982  1880
19        Carrie   F     949  1880
20         Maude   F     859  1880
21         Mabel   F     808  1880
22        Bessie   F     796  1880
23        Jennie   F     793  1880
24      Gertrude   F     787  1880
25         Julia   F     783  1880
26        Hattie   F     769  1880
27         Edith   F     768  1880
28        Mattie   F     704  1880
29          Rose   F     700  1880
...          ...  ..     ...   ...
32003    Zerrick   M       5  2018
32004     Zeshan   M       5  2018
32005      Zevan   M       5  2018
32006    Zhander   M       5  2018
32007       Zhen   M       5  2018
32008      Zheng   M       5  2018
32009    Zhiheng   M       5  2018
32010      Ziaan   M       5  2018
32011     Zichen   M       5  2018
32012      Zidon   M       5  2018
32013       Zien   M       5  2018
32014       Zier   M       5  2018
32015     Zierre   M       5  2018
32016      Zihir   M       5  2018
32017        Zim   M       5  2018
32018        Zin   M       5  2018
32019      Zishe   M       5  2018
32020      Zmari   M       5  2018
32021       Zoel   M       5  2018
32022       Zola   M       5  2018
32023      Zuber   M       5  2018
32024     Zubeyr   M       5  2018
32025      Zyell   M       5  2018
32026     Zyheem   M       5  2018
32027     Zykeem   M       5  2018
32028      Zylas   M       5  2018
32029      Zyran   M       5  2018
32030      Zyrie   M       5  2018
32031      Zyron   M       5  2018
32032      Zzyzx   M       5  2018

[1957046 rows x 4 columns]

In [10]:
allyears.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1957046 entries, 0 to 32032
Data columns (total 4 columns):
name      object
sex       object
number    int64
year      int64
dtypes: int64(2), object(2)
memory usage: 74.7+ MB

In [14]:
#check the number of null values
allyears.isnull().sum()

name      0
sex       0
number    0
year      0
dtype: int64

#### save the concatenated dataframe to csv file in a compressed form

In [18]:
allyears.to_csv('allyears.csv.gz',index=False)